body{
    background: linear-gradient(to bottom, pink, white);
    box-shadow: 0 0 5px black;
}
.titulo {
   font-family: Arial, Helvetica, sans-serif;
}
.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    column-count: 2;
    column-gap: 10px;
}
img{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30%;
}
.item{
    column-count: 2;
    column-gap: 20px;
}